
networks:
  easyiot:
    external: 
      name: easyiot

        
services:
  gateway:
    image:              easyiot_gateway_image
    container_name :    easyiot_gateway_container
    restart:            unless-stopped
    tty:                true
    ports:
      - 80:80
    networks:
      - easyiot


  home:
    image: easyiot_home_image
    container_name: easyiot_home_container
    restart: unless-stopped
    tty: true
    depends_on:
      - gateway
    volumes:
      - type: bind
        source: "../Services/easyiot_home_service/src"
        target: /app
    networks:
      - easyiot


#    auth_ui:
#        image:              easyiot_auth_ui_image
#        container_name :    easyiot_auth_ui_container
#        restart:            unless-stopped
#        tty:                true
#        depends_on:
#            - gateway
#        networks:
#            - easyiot

#   auth_api:
#       image:              easyiot_auth_api_image
#       container_name :    easyiot_auth_api_container
#       restart:            unless-stopped
#       tty:                true
#       depends_on:
#           - gateway
#       networks:
#            - easyiot

#   
#    sensor:
#        image:              easyiot_sensor_image
#        container_name:     easyiot_sensor_container
#        restart:            unless-stopped
#        tty:                true
#        depends_on:
#            - gateway
    
    
