---
networks:
  easyiot:


services:
  gateway:
    build:
      context: ../Services/easyiot_gateway_service
      dockerfile: Dockerfile
    image: gateway
    container_name: gatec
    hostname: gate
    restart: unless-stopped
    tty: true
    ports:
      - 80:80
    networks:
      - easyiot

  home:
    build:
      context: ../Services/easyiot_home_service
      dockerfile: Dockerfile
    image: home
    container_name: homec
    hostname: home
    restart: unless-stopped
    tty: true
    depends_on:
      - gateway
    volumes:
      - type: bind
        source: "../Services/easyiot_home_service/src"
        target: /app
    networks:
      - easyiot

  auth_ui:
    build:
      context: ../Services/easyiot_auth_ui_service
      dockerfile: Dockerfile
    image: auth_ui
    container_name: auth_uic
    hostname: auth_ui
    restart: unless-stopped
    tty: true
    depends_on:
      - gateway
    volumes:
      - type: bind
        source: "../Services/easyiot_auth_ui_service/src"
        target: /app 
    networks:
      - easyiot

  auth_api:
    build:
      context: ../Services/easyiot_auth_api_service
      dockerfile: Dockerfile
    image: auth_api
    container_name: auth_apic
    hostname: auth_api
    restart: unless-stopped
    tty: true
    depends_on:
      - gateway
    volumes:
      - type: bind
        source: "../Services/easyiot_auth_api_service/src"
        target: /app  
    networks:
      - easyiot

